In [263]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
%ls Data

high.csv  highp_finalresults.csv  low.csv  lowp_finalresults.csv

In [264]:
# Loads data (Fills NaN values as 0 for simplicity)
data=pd.read_csv("./Data/highp_finalresults.csv",sep = ',',
                 engine = 'python',skipinitialspace = True,na_values = 'NaN ').fillna(0)
# Each row, (for now is a different planet)
# Adds column named n_planet___ it is later going to be summed
data["n_planets"] = 1
# Shows data for verification
print(data.shape)
#data['rplanet(i)/radtie'][26720]
data.head()

(32465, 19)

,ident,it,t,a(i),emegas(i),emepla(i)/emet,rplanet(i)/radtie,emestar,rc,qest,sigmag_0,emed,gama,apert,fpert,constmigI,emetal,taugas,n_planets
0,0,199993,20000001.0,0.030237,0.004911,1.904923,1.902982,4.368174e+32,59.88237,1.110726,51.287674,0.13,1.0,0.3,1.0,0.1,0.07707,9268935.0,1
1,0,199993,20000001.0,0.818832,0.000238,1.642056,1.815005,4.368174e+32,59.88237,1.110726,51.287674,0.13,1.0,0.3,1.0,0.1,0.07707,9268935.0,1
2,0,199993,20000001.0,2.124022,0.000000,1.786051,1.865992,4.368174e+32,59.88237,1.110726,51.287674,0.13,1.0,0.3,1.0,0.1,0.07707,9268935.0,1
3,0,199993,20000001.0,5.123330,0.000000,0.843418,1.453885,4.368174e+32,59.88237,1.110726,51.287674,0.13,1.0,0.3,1.0,0.1,0.07707,9268935.0,1
4,0,199993,20000001.0,6.932367,0.000000,0.477013,1.203113,4.368174e+32,59.88237,1.110726,51.287674,0.13,1.0,0.3,1.0,0.1,0.07707,9268935.0,1

In [265]:
# Selects planet data only. 
# According to repository readme: a(i),emegas(i),emepla(i)/emed,rplanet(i)/radtie
# Identity of system is conserved
planet_data = data[['ident','a(i)','emegas(i)','emepla(i)/emet','rplanet(i)/radtie','n_planets']]
# Shows data
print(planet_data.shape)
planet_data.head(5)

(32465, 6)

   ident      a(i)  emegas(i)  emepla(i)/emet  rplanet(i)/radtie  n_planets
0      0  0.030237   0.004911        1.904923           1.902982          1
1      0  0.818832   0.000238        1.642056           1.815005          1
2      0  2.124022   0.000000        1.786051           1.865992          1
3      0  5.123330   0.000000        0.843418           1.453885          1
4      0  6.932367   0.000000        0.477013           1.203113          1

In [266]:
# Selects system data only. 
# System columns are the ones that are not just planet data
system_data = data.drop(['a(i)','emegas(i)','emepla(i)/emet','rplanet(i)/radtie','n_planets'],1)
# Shows data
print(system_data.shape)
system_data.head(15)

(32465, 14)

,ident,it,t,emestar,rc,qest,sigmag_0,emed,gama,apert,fpert,constmigI,emetal,taugas
0,0,199993,20000001.0,4.368174e+32,59.882370,1.110726,51.287674,0.130,1.0,0.3,1.0,0.1,0.077070,9268935.0
1,0,199993,20000001.0,4.368174e+32,59.882370,1.110726,51.287674,0.130,1.0,0.3,1.0,0.1,0.077070,9268935.0
2,0,199993,20000001.0,4.368174e+32,59.882370,1.110726,51.287674,0.130,1.0,0.3,1.0,0.1,0.077070,9268935.0
3,0,199993,20000001.0,4.368174e+32,59.882370,1.110726,51.287674,0.130,1.0,0.3,1.0,0.1,0.077070,9268935.0
4,0,199993,20000001.0,4.368174e+32,59.882370,1.110726,51.287674,0.130,1.0,0.3,1.0,0.1,0.077070,9268935.0
5,0,199993,20000001.0,4.368174e+32,59.882370,1.110726,51.287674,0.130,1.0,0.3,1.0,0.1,0.077070,9268935.0
6,0,199993,20000001.0,4.368174e+32,59.882370,1.110726,51.287674,0.130,1.0,0.3,1.0,0.1,0.077070,9268935.0
7,0,199993,20000001.0,4.368174e+32,59.882370,1.110726,51.287674,0.130,1.0,0.3,1.0,0.1,0.077070,9268935.0
8,0,199993,20000001.0,4.368174e+32,59.882370,1.110726,51.287674,0.130,1.0,0.3,1.0,0.1,0.077070,9268935.0
9,0,199993,20000001.0,4.368174e+32,59.882370,1.110726,51.287674,0.130,1.0,0.3,1.0,0.1,0.077070,9268935.0
10,0,199993,20000001.0,4.368174e+32,59.882370,1.110726,51.287674,0.130,1.0,0.3,1.0,0.1,0.077070,9268935.0
11,1,198840,20000001.0,2.095099e+32,40.040195,3.201758,16.765976,0.019,1.0,0.3,1.0,0.1,-0.092791,3525593.5
12,1,198840,20000001.0,2.095099e+32,40.040195,3.201758,16.765976,0.019,1.0,0.3,1.0,0.1,-0.092791,3525593.5
13,1,198840,20000001.0,2.095099e+32,40.040195,3.201758,16.765976,0.019,1.0,0.3,1.0,0.1,-0.092791,3525593.5
14,1,198840,20000001.0,2.095099e+32,40.040195,3.201758,16.765976,0.019,1.0,0.3,1.0,0.1,-0.092791,3525593.5

In [267]:
# System data is repeated as rows represent planets
system_data = system_data.groupby(system_data['ident']).mean()
# From planets data it is only necesary the total data (total mass, total number of planets etc)
planet_data = planet_data.groupby(planet_data['ident']).sum()
print(planet_data.head())
print(system_data.head())

             a(i)  emegas(i)  emepla(i)/emet  rplanet(i)/radtie  n_planets
ident
0       88.367184   0.005149        8.136583          13.799422         11
1       19.929930   0.000006        2.827470          10.867257         13
2      107.707786   0.001665        7.979543           9.507665          9
3       21.379942   0.000227        6.944855          17.738895         18
4       25.873853   0.000010        3.193649           9.081374         10
           it           t       emestar         rc      qest   sigmag_0  \
ident
0      199993  20000001.0  4.368174e+32  59.882370  1.110726  51.287674
1      198840  20000001.0  2.095099e+32  40.040195  3.201758  16.765976
2      199995  20000001.0  5.354890e+32  40.647163  1.965345  67.644768
3      199755  20000001.0  3.614768e+32  29.539343  9.568532  16.213096
4      199319  20000001.0  2.885875e+32  61.195038  2.230675  15.866622

        emed  gama  apert  fpert  constmigI    emetal       taugas
ident
0      0.130   1.0    0.3    1.0        0.1  0.077070  9268935.000
1      0.019   1.0    0.3    1.0        0.1 -0.092791  3525593.500
2      0.079   1.0    0.3    1.0        0.1  0.514770  9390406.000
3      0.010   1.0    0.3    1.0        0.1  0.328146  1644710.625
4      0.042   1.0    0.3    1.0        0.1 -0.220031  9468353.000

In [270]:
# Concatenate two data frames to obtain final formatted data
data = pd.concat([system_data,planet_data], axis=1)
# Shows data
print(data.shape)
data.head()

(2770, 18)

,it,t,emestar,rc,qest,sigmag_0,emed,gama,apert,fpert,constmigI,emetal,taugas,a(i),emegas(i),emepla(i)/emet,rplanet(i)/radtie,n_planets
ident,,,,,,,,,,,,,,,,,,
0,199993,20000001.0,4.368174e+32,59.882370,1.110726,51.287674,0.130,1.0,0.3,1.0,0.1,0.077070,9268935.000,88.367184,0.005149,8.136583,13.799422,11
1,198840,20000001.0,2.095099e+32,40.040195,3.201758,16.765976,0.019,1.0,0.3,1.0,0.1,-0.092791,3525593.500,19.929930,0.000006,2.827470,10.867257,13
2,199995,20000001.0,5.354890e+32,40.647163,1.965345,67.644768,0.079,1.0,0.3,1.0,0.1,0.514770,9390406.000,107.707786,0.001665,7.979543,9.507665,9
3,199755,20000001.0,3.614768e+32,29.539343,9.568532,16.213096,0.010,1.0,0.3,1.0,0.1,0.328146,1644710.625,21.379942,0.000227,6.944855,17.738895,18
4,199319,20000001.0,2.885875e+32,61.195038,2.230675,15.866622,0.042,1.0,0.3,1.0,0.1,-0.220031,9468353.000,25.873853,0.000010,3.193649,9.081374,10